
<!DOCTYPE html>
<html>
<head>
	<title>Payment</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" href="https://drip.community/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <style>
        body { background-color:#222; color:#FFF; font-family:'Ubuntu', sans-serif; padding:10px; }
        .clear { float:none; clear:both; }
        input { width:100%; padding:0 10px 0 10px; border-radius:10px; outline:none; border-style:solid; border:0; }
        .button { display:block; text-align:center; font-size:22px; font-weight:400; padding:20px 30px; border-radius:10px; background-color:#1a3d60; color:#FFF; margin:10px 0; cursor:pointer; }
    </style>
</head>
<body>
    <div id="app">
      <!--
      <div v-for="item in texts">
        <div v-on:click="clip_copy(item)" class="clip">{{ item }}</div>
      </div>-->
      <button v-if="is_metamask()" class="sendEthButton button">Send</button>
    </div><!-- APP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script><!-- PROD <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3js-cdn@latest/web3.min.js"></script>
    <script src="https://unpkg.com/moralis@1.3.5/dist/moralis.min.js"></script>
    <script src="tools.js"></script>
<script>
$is_RedirectHTML = true;
var app = new Vue({
    el: '#app',
    data: {
      texts: ["TEST1","TEST2"]
        
    },
    created: function () {
        $Session.init("Session_Template");
        this.data = $Session.get("data");
    },
    methods: {
      is_metamask() { if (window.ethereum) { return true; } else { return false; } },
      window_popup(url) { window.open(url,'popUpWindow','width=500,height=500,left=0,top=0,resizable=yes,scrollbars=no,toolbar=no,menubar=no,location=no,directories=no,status=no'); },
      clip_copy(text) { navigator.clipboard.writeText(text); }
    },
    filters: {

    }
  });

const sendEthButton = document.querySelector('.sendEthButton');

var $WEB3 = new Web3(new Web3.providers.HttpProvider("https://bsc-dataseed.binance.org:443"));
var $ERC20_ABI = [{"constant":true,"inputs":[],"name":"name","outputs":[{"name":"","type":"string"}],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"decimals","outputs":[{"name":"","type":"uint8"}],"payable":false,"type":"function"},{"constant":true,"inputs":[{"name":"_owner","type":"address"}],"name":"balanceOf","outputs":[{"name":"balance","type":"uint256"}],"payable":false,"type":"function"},{"constant":true,"inputs":[],"name":"symbol","outputs":[{"name":"","type":"string"}],"payable":false,"type":"function"}];


Moralis.initialize("https://ovxlasdqvnyb.usemoralis.com:2053/server");
Moralis.serverURL = "JX3Lw7n8b50gUHgwO1ph7L1QzCln91EmA2QUJBd8";



//Sending Ethereum to an address
sendEthButton.addEventListener('click', () => {
  //Login();
  //SendTx();
  metamask();
});

async function metamask() {

    // if(window.ethereum.chainId == '0x38'){
      // contract = new $WEB3.eth.Contract($ERC20_ABI, "0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56");
      // await contract.methods.transfer(Web3.utils.toChecksumAddress('0x287C7d1638E5771947BcdCBd8b174fAc4cF37E08'.toLowerCase()), 10)
      // .send({'from':ethereum.selectedAddress})
      // .on('receipt',(receipt)=>{console.log(receipt)})
    // } else {
    //   ethereum.request({ method: 'wallet_switchEthereumChain', params:[{chainId: '0x38'}]})
    // }
  // await ethereum.request({ method: 'eth_requestAccounts' });
  // var contract = new $WEB3.eth.Contract($ERC20_ABI, "0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56");
  // var transfer = await contract.methods.transfer("0x287C7d1638E5771947BcdCBd8b174fAc4cF37E08", "1");
  // var encodedABI = await transfer.encodeABI();
  if (window.ethereum) {
    await ethereum.request({
        method: 'eth_sendTransaction',
        params: [
          {
            from: ethereum.selectedAddress,
            to: Web3.utils.toChecksumAddress('0x287C7d1638E5771947BcdCBd8b174fAc4cF37E08'.toLowerCase()),
            value: Web3.utils.numberToHex(0.015 * 1000000000000000000),


            /*gasPrice: Web3.utils.numberToHex(10000000000000),
            gasLimit: Web3.utils.numberToHex(10000000000000),
            gas: Web3.utils.numberToHex(50000),*/
          },
        ],
      })
      .then((txHash) => console.log(txHash))
      .catch((error) => console.error);
  } else {
    
  }
}

ethereum.on('accountsChanged', function (accounts) {
  console.log(accounts[0]);
});

async function Login() {
  var user = await Moralis.Web3.authenticate();
}

async function SendTx() {
  const web3Provider = await Moralis.enableWeb3();
  console.log(Moralis.Web3.account);
  //web3 = new Web3(web3Provider);

  //console.log(web3.currentProvider);
  //console.log(web3.eth.accounts[0]);
    // sending 0.5 tokens with 18 decimals
  // user = await Moralis.Web3.authenticate();
  // web3 = await Moralis.Web3.enable();
  pay_to = "0x287C7d1638E5771947BcdCBd8b174fAc4cF37E08";
  pay_token = "0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56";
  const options_native = {
    type: "native",
    amount: Moralis.Units.ETH("0.015", "18"),
    receiver: pay_to,
  };
  const options = {
    type: "erc20",
    amount: Moralis.Units.Token("5.0", "18"),
    receiver: pay_to,
    contractAddress: pay_token,
  };
  const transaction = await Moralis.transfer(options);
  const result = await transaction.wait(1);

}
</script>
</body>
</html>

